<div class="row-fluid">
<%= form_for(@source, :html => { :class => "form-horizontal"} ) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> <%=  t("source.destroyed.errSave") %></h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label t("source.list.uri"), class: "control-label span2" %>
    <div class="controls span9">
        <%= f.url_field :uri, class: "span12" , :required => "true"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t("source.list.label"), class: "control-label span2" %>
    <div class="controls span9">
        <%= f.text_field :label, class: "span12", :required => "true" %>
    </div>
  </div>

<!--
    <div class="control-group">
      <label for="ajax-combo" class="control-label span2"><%=  t("source.list.lang") %></label>
      <div class="controls span9">
        <div id="ajax-container-lang"></div>
      </div>
    </div>-->

    <div class="control-group">
      <label for="ajax-combo" class="control-label span2"><%=  t("source.list.theme") %></label>
      <div class="controls span9">
        <div id="ajax-container-theme"></div>
      </div>
    </div>
    </div>
      <div class="modal-footer">
        <div class="clear">
          <%if type == "new"%>
            <%= f.submit t("source.new.add"), :class => 'btn btn-success' %>
          <%else%>
            <%= f.submit t("source.new.edit"), :class => 'btn btn-success' %>
          <%end%>
        </div>
      </div>

   	</div>
<% end %>
</div>
<script>
    $.sexyCombo.create({
        name: "theme",
        id: "source_theme",
        container: "#ajax-container-theme",
        url: "/sources/themes.json?selected=<%=@source.theme%>",
        suffix: ""
    });
    $.sexyCombo.create({
        name: "lang",
        id: "ajax-container-lang",
        container: "#ajax-container-lang",
        url: "/sources/langs.json?selected=<%=@source.lang%>",
        suffix: ""

    });
</script>