<div class="row-fluid">
<%= form_for(@source, :html => { :class => "form-horizontal"} ) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> <%=  t("source.destroyed.errSave") %></h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :uri, class: "control-label span4" %>
    <div class="controls span6">
        <%= f.text_field :uri, class: "span12" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :label, class: "control-label span4" %>
    <div class="controls span6">
        <%= f.text_field :label, class: "span12" %>
    </div>
  </div>


    <div class="control-group">
      <label for="ajax-combo" class="control-label span4"><%=  t("source.lang") %>:</label>
      <div class="controls span6">
        <div id="ajax-container-lang"></div>
      </div>
    </div>

    <div class="control-group">
      <label for="ajax-combo" class="control-label span4"><%=  t("source.theme") %>:</label>
      <div class="controls span6">
        <div id="ajax-container-theme"></div>
      </div>
    </div>
    <div class="control-group">
    	<div class="controls span2 offset4">
        <%= f.submit t("source.new.add"), :class => 'btn btn-success span12' %>
      </div>
   	 
   	</div>
<% end %>
</div>
<script>
    $.sexyCombo.create({
        name: "theme",
        id: "source_theme",
        container: "#ajax-container-theme",
        url: "/sources/themes.json?selected=<%=@source.theme%>",
        suffix: ""
    });
    $.sexyCombo.create({
        name: "lang",
        id: "ajax-container-lang",
        container: "#ajax-container-lang",
        url: "/sources/langs.json?selected=<%=@source.lang%>",
        suffix: ""

    });
</script>