<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNew"> <i class="icon-expand"></i> <%= t("source.new.title")%> </a></h2>
		</div>
		<div id="collapseNew" class="accordion-body collapse">
			<div class="accordion-inner">
				<%= render 'form' %>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOpml"> <i class="icon-expand"></i> <%= t("source.opml.title")%> </a></h2>
		</div>
		<div id="collapseOpml" class="accordion-body collapse">
			<div class="accordion-inner">
				<%= form_for(:upload, :url => { :action => "uploadopml" }, :html => { :multipart => true }, :remote => true) do |form| %>
				<div class="row-fluid">
					<div class="span3 offset1">
						<input id="upload_datafile" name="upload[datafile]" type="file" hidden onchange="updateFilename($(this).val())">
						<button class="btn btn-info span12" onclick="$('#upload_datafile').click();return false;">
							<%= t("source.opml.button.select")%>
						</button>
					</div>
					<div class="span4">
						<span id="fileTextName" data-initial="<%= t("source.opml.empty")%>"><%= t("source.opml.empty")%></span>
					</div>
					<div class="span2">
						<%= form.submit t("source.opml.button.upload"),:class => 'btn btn-success span12'%>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseGroups"> <i class="icon-expand"></i> <%= t("source.groups.title")%> </a></h2>
		</div>
		<div id="collapseGroups" class="accordion-body collapse">
			<div class="accordion-inner">
				<h3> Not yet implemented</h3>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseAll"> <i class="icon-collapse"></i> <%= t("source.your.title")%> </a></h2>
		</div>
		<div id="collapseAll" class="accordion-body collapse in">
			<div class="accordion-inner">
				<% startNewTable = true %>
				<% actualTableTheme = nil%>
				
				<% @sources.sort! {|a,b| [a.theme,a.label,a.uri,a.lang]<=>[b.theme,b.label,b.uri,b.lang]}  %>
				
				<% @sources.each do |source| %>
					<% next if source == nil  %>
					<% filter = Filter.new(:prop => "http://purl.org/rss/1.0/source",:value => source.uri) %>
					<% uriNumber = filters_getNumber_path(:old => [filter]) %>
					
					<% if source.theme != actualTableTheme%>
						<% startNewTable = true%>
						<% if actualTableTheme != nil%>
							</tbody>
							</table>
						<% end %>
					<% end %>
					
					<% if startNewTable %>
						<p>Theme : <%= source.theme%></p>
						<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="span1"><%= t("source.list.action")%></th>
								<th class="span3"><%= t("source.list.label")%></th>
								<th class="span5"><%= t("source.list.uri")%></th>
								<th class="span1"><%= t("source.list.lang")%></th>
							</tr>
						</thead>
						<tbody>
					<% end %>
					<tr>
						<td class="text-center"><%= link_to "",edit_source_path(source) , :class => 'icon-edit'  %> <a href="/sources/<%= source.to_param%>/delete"><i class="icon-trash"></i></a></td>
						<td><%= source.label %></td>
						<td><%= link_to source.uri, url_for(:controller => :searches, :action => :create,  :sources => {:rss => [source.uri]}), :method => "post" %></td>
						<!--<td> ( <span class="number_items_wait"> <a href="<%= uriNumber%>"> <i class="number_items_wait icon-refresh" data-url="<%= uriNumber%>" sourceId="<%= source%>" ></i> </a> </span><span class='number_items_container' sourceId="<%= source%>"  data-url="<%= uriNumber%>" ></span> <%= t("source.elemsNumber")%>) </td>
						-->
						<td class="text-center"><%= source.lang.upcase %></td>
					</tr>
					<% actualTableTheme = source.theme%>
					<% startNewTable = false%>
				<% end %>
			</div>
		</div>
	</div>
</div>

