<p id="notice"><%= notice %></p>

<p>
  <b><%= t("source.list.uri") %>:</b>
  <%= @source.uri %>
</p>

<p>
  <b><%= t("source.list.label") %>:</b>
  <%= @source.label %>
</p>

<p>
  <b><%= t("source.list.lang") %>:</b>
  <%= @source.lang %>
</p>


<p>
  <b><%= t("source.list.owner") %>:</b>
  <%= @source.owner %>
</p>


<%= link_to t("edit"), edit_source_path(@source) %>