<% if user_signed_in? %>
    <li class="<%= 'active' if current_page?(favorites_path) %>"><%= link_to raw("<i class=\"icon-star\" ></i>"), favorites_path, :title => t('menu.favoris') %></li>

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <% if current_user.provider == nil || (current_user.provider.include? "reador")%>
            <b class='fa-user'></b> <%=current_user.email%>
            <%if current_user.provider != nil && (current_user.provider.include? "twitter") %>
                (<b class='fa-twitter'></b> <%=current_user.login%>)
            <%end%>
        <%elsif (current_user.provider.include? "twitter") %>
            <b class='fa-twitter'></b> <%=current_user.login%>
        <%end%>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to t("menu.editAccount"), edit_user_registration_path %></li>
        <% if current_user.provider == nil%>
            <li><%= link_to t("menu.connectToTwitter"), user_omniauth_authorize_path(:twitter) %></li>
        <%end%>
        <li><%= link_to t("menu.logout"), destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </li>


<% else %>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= t("menu.signIn")%> <strong class="caret"></strong></a>
    <div class="dropdown-menu" style="padding: 10px; padding-bottom: 0px;">

      <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, label: :none, placeholder: 'Email'  %>
        <%= f.password_field :password, label: :none, placeholder: t('menu.password') %>

        <% if devise_mapping.rememberable? -%>

          <input name="user[remember_me]" type="hidden" value="0" />
          <label>
          <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
            <%= t('menu.remember')%>
          </label>


          <% f.control_group :remember_me do %>
            <% f.check_box :remember_me, label: t('menu.remember') %>
          <%end%>
        <% end -%>


          <%= f.submit t("menu.signIn"), :class => "btn-zone btn btn-primary", :style => "width: 225px; margin-bottom:5px;" %>
          <br/>
          <%= link_to raw( t("menu.signInWithReador")), new_user_registration_path, :class=>"btn-auth btn-zone", :style => "width: 200px;" %><br/>
          <%= link_to raw( t("menu.signInWith")+" <b>Twitter</b>"), user_omniauth_authorize_path(:twitter), :class=>"btn-auth btn-twitter", :style => "width: 200px;" %>

      <% end %>
    </div>
  </li>
<% end %>