<% if user_signed_in? %>
    <li class="<%= 'active' if current_page?(favorites_path) %>"><%= link_to raw("<i class=\"icon-star\" ></i>"), favorites_path %></li>
    <li><%= link_to t("menu.editAccount"), edit_user_registration_path %></li>
  <li>
    <%= link_to t("menu.logout"), destroy_user_session_path, :method=>'delete' %>
  </li>
<% else %>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= t("menu.signIn")%> <strong class="caret"></strong></a>
    <div class="dropdown-menu" style="padding: 10px; padding-bottom: 0px;">

      <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, label: :none, placeholder: 'Email'  %>
        <%= f.password_field :password, label: :none, placeholder: t('menu.password') %>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me, label: t('menu.remember') %>
        <% end -%>


          <%= f.submit t("menu.signIn"), :class => "btn-zone btn btn-primary", :style => "width: 225px; margin-bottom:5px;" %>
          <br/>
          <%= link_to raw( t("menu.signInWithReador")), new_user_registration_path, :class=>"btn-auth btn-zone", :style => "width: 194px;" %><br/>
          <%= link_to raw( t("menu.signInWith")+" <b>Twitter</b>"), user_omniauth_authorize_path(:twitter), :class=>"btn-auth btn-twitter", :style => "width: 194px;" %>

      <% end %>
    </div>
  </li>
<% end %>