
<ul class="nav">
  <% if user_signed_in? %>
    <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
      <div class="dropdown-menu" style="padding: 10px; padding-bottom: 0px;">

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div>
          <%= f.email_field :email, :value=>"Email",:width=>4 %></div>
        
          <div>
          <%= f.password_field :password, :value=>"Password" %></div>
        
          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
        
          <div>
            <%= f.submit "Sign in", :class => "btn btn-primary", :style => "clear: left; width: 100%; height: 32px; font-size: 13px;" %>
          </div>
          <%= link_to raw('Sign in with <b>Zone</b>'), new_user_registration_path, :class=>"btn-auth" %>
          <%= link_to raw("Sign in with <b>Github</b>"), user_omniauth_authorize_path(:github), :class=>"btn-auth btn-github" %>
          <%= link_to raw("Sign in with <b>Twitter</b>"), user_omniauth_authorize_path(:twitter), :class=>"btn-auth btn-twitter" %>
          <%= link_to raw("Sign in with <b>Google</b>"), user_omniauth_authorize_path(:google_oauth2), :class=>"btn-auth btn-google" %>

        <% end %>
      </div>
    </li>
  <% end %>
</ul>