
<ul class="nav user-box">
  <li class="<%= 'active' if current_page?(twitter_path) %>"><%= link_to raw("<i class=\"icon-star-empty\" ></i>"), favorites_path %></li>
  <% if user_signed_in? %>
    <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= t("menu.signIn")%> <strong class="caret"></strong></a>
      <div class="dropdown-menu" style="padding: 10px; padding-bottom: 0px;">

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
          <div><%= f.email_field :email, :value=>"Email",:width=>4 %></div>
          <div><%= f.password_field :password, :value=>"Password" %></div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="control-group">
              <%= f.check_box :remember_me, :class=>"control-label"  %>
              <%= f.label :remember_me, :class=>"control-label" -%>
            </div>
          <% end -%>
        
          <div>
            <%= f.submit t("menu.signIn"), :class => "btn btn-primary", :style => "clear: left; width: 100%; height: 32px; font-size: 13px;" %>
            <br/><br/>
            <%= link_to raw( t("menu.signInWithReador")), new_user_registration_path, :class=>"btn-auth btn-zone", :style => "width: 194px;" %>
            <%= link_to raw( t("menu.signInWith")+" <b>Twitter</b>"), user_omniauth_authorize_path(:twitter), :class=>"btn-auth btn-twitter", :style => "width: 194px;" %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>