<!DOCTYPE html>
<html>
<head>
  <title>ZONEWatcher</title>
  <%= include_gon %>
  <%= stylesheet_link_tag("/bootstrap/css/bootstrap.min.css") %>

  <%= stylesheet_link_tag("/jquery.sexy-combo/css/sexy-combo.css") %>
  <%= stylesheet_link_tag("/jquery.sexy-combo/css/sexy/sexy.css") %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= #stylesheet_link_tag("/bootstrap/css/slate.css")
  %>
  <%= stylesheet_link_tag("/bootstrap/css/bootstrap-responsive.css") %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag "search_box" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag("/bootstrap/js/bootstrap.min.js")%>
  <%= javascript_include_tag "/jquery.sexy-combo/jquery.sexy-combo.js" %>
  <%= javascript_include_tag "/jwplayer/jwplayer.js" %>




</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Zone - DEMO</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
            <li class="<%= 'active' if current_page?(items_path) %>"><%= link_to "Items", items_path %></li>
            <li class="<%= 'active' if current_page?(sources_path) %>"><%= link_to "Sources list", sources_path %></li>
            <li class="<%= 'active' if current_page?(twitter_path) %>"><%= link_to "Your twitter timeline!", twitter_path %></li>
          </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
          <%= render 'layouts/login' %>
        </div>
      </div>
    </div>
  </div>
  <div style="z-index: 10">
    <a href="http://www.zone-project.org/mailing-list/"><img class="follow-project-picture" src="/imgs/follow_me.png" alt="Fork me on GitHub"></a>
  </div>


  <div class="container">
      <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

</body>
</html>