<!DOCTYPE html>
<html>
<head>
  <title><%=  t("title")%></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <% if @feed_url != nil %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%=@feed_url%>" />
  <%end%>
  <%= stylesheet_link_tag("/bootstrap/css/bootstrap.min.css") %>

  <%= stylesheet_link_tag("/jquery.sexy-combo/css/sexy-combo.css") %>
  <%= stylesheet_link_tag("/jquery.sexy-combo/css/sexy/sexy.css") %>
  <%= stylesheet_link_tag("/bootstrap/css/bootstrap-responsive.css") %>
  <%= stylesheet_link_tag("/custom-scrollbar-plugin/css/jquery.mCustomScrollbar.css") %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag("http://cdn-images.mailchimp.com/embedcode/classic-081711.css") %>
  <%= stylesheet_link_tag("jqcloud.css") %>

  <!-- load specific css for items layout-->
  <%=
      case @layout
        when "time"
          stylesheet_link_tag("items_time.css")
        when "card"
          stylesheet_link_tag("items_card.css")
        when "list"
          stylesheet_link_tag("items_list.css")
      end
  %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag("/bootstrap/js/bootstrap.min.js")%>
  <%= javascript_include_tag "/jquery.sexy-combo/jquery.sexy-combo.js" %>
  <%= javascript_include_tag "/jwplayer/jwplayer.js" %>
  <%= javascript_include_tag "bootstrapx-clickoverx" %>
  <%= javascript_include_tag "bootstrapx-clickover" %>
  <%= javascript_include_tag "jQDateRangeSlider-withRuler-min" %>
  <%= javascript_include_tag "jqcloud" %>
  <%= javascript_include_tag "URI.min" %>
  <%= javascript_include_tag "jquery.URI" %>
  <%= javascript_include_tag("/custom-scrollbar-plugin/js/jquery.mCustomScrollbar.concat.min.js")%>
  <%= favicon_link_tag "favicon.png" %>
  <%= javascript_tag do %>
 	I18n.defaultLocale = "<%= I18n.default_locale %>";
  	I18n.locale = "<%= I18n.locale %>";
  <% end %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

      <div class="container">

        <!--for responsive design-->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to "Reador.NET", root_path, :class=>"navbar-brand" %></li>
            <li class="<%= 'active' if current_page?(searches_path) %>"><%= link_to t("menu.yourSearches"), searches_path %></li>
            <li class="<%= 'active' if current_page?('/items') %>"><%= link_to t("menu.news"), items_path %></li>
            <li class="<%= 'active' if current_page?(sources_path) %>"><%= link_to t("menu.yourSources"), sources_path %></li>
            <li class="<%= 'active' if current_page?(twitter_path) %>"><%= link_to t("menu.twitter"), twitter_path %></li>
          </ul>
            <ul class="nav user-box pull-right">
              <%= render 'layouts/login' %>
              <%= render 'layouts/lang' %>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <% if @layout == "card" then mainClass="container-fluid" else mainClass="container" end%>
  <div class="<%= mainClass %>">
    <div  id="page-content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>

<div class="footer">
  <%=  render "layouts/footer" %>
  <%=  render "layouts/maillinglist" %>
</div>

</body>
</html>