<!DOCTYPE html>
<html>
<head>
  <title><%=  t("title")%></title>
  <%= include_gon %>
  <%= stylesheet_link_tag("/bootstrap/css/bootstrap.min.css") %>

  <%= stylesheet_link_tag("/jquery.sexy-combo/css/sexy-combo.css") %>
  <%= stylesheet_link_tag("/jquery.sexy-combo/css/sexy/sexy.css") %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag("/bootstrap/css/bootstrap-responsive.css") %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag "search_box" %>
  <%= javascript_include_tag "advanced_search" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag("/bootstrap/js/bootstrap.min.js")%>
  <%= javascript_include_tag "/jquery.sexy-combo/jquery.sexy-combo.js" %>
  <%= javascript_include_tag "/jwplayer/jwplayer.js" %>
  <%= favicon_link_tag "favicon.png" %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Reador</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to  t("menu.home"), root_path %></li>
            <li class="<%= 'active' if current_page?(items_path) %>"><%= link_to t("menu.news"), items_path %></li>
            <li class="<%= 'active' if current_page?(sources_path) %>"><%= link_to t("menu.sources"), sources_path %></li>
            <li class="<%= 'active' if current_page?(twitter_path) %>"><%= link_to t("menu.twitter"), twitter_path %></li>
          </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
          <%= render 'layouts/login' %>
          <%= render 'layouts/lang' %>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div  id="page-content">
  <%= render 'layouts/messages' %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Reador.NET est actuellement en <b>cours de développement</b>, un tas de bug sont présents et l'import de vos flux RSS et Twitter risque de ne pas fonctionner en temps réel, soyez patients!
      </div>
    <%= yield %>
      </div>
  </div>

<div class="footer">
  <%=  render "layouts/footer" %>
  <%=  render "layouts/maillinglist" %>
</div>

</body>
</html>