<div class="search clear-top">


  <%= render "home/search_dino" %>

  <div class="row" style="margin-top:66px; height:546px">
    <div class="span1"></div>
    <iframe class="flex-video widescreen container well well-small span10" src="//player.vimeo.com/video/74277156" allowfullscreen></iframe>
    <div class="span1"></div>
  </div>

</div>


</div>
</div>


<div class="splash splash-on">
  <div class="container">
    <div class="text-center more-infos"><h1><a href="#moreAbout" id="moreAbout"><%= raw t 'moreabout.title' %></a></h1></div>

    <div class="infos infos-on">
      <section id="why" class="clearfix">
        <div class="row">
          <div class="span4">
            <h4><span class="fa-envelope"></span> <%= raw t 'moreabout.getintouch.title' %></h4>
            <%= raw t 'moreabout.getintouch.content' %>
          </div>
          <div class="span4">
            <h4><span class="fa-twitter"></span> <%= raw t 'moreabout.twitter.title' %></h4>
            <%= raw t 'moreabout.twitter.content' %>
          </div>
          <div class="span4">
            <h4><span class="fa-tablet"></span> <%= raw t 'moreabout.scalable.title' %></h4>
            <%= raw t 'moreabout.scalable.content' %>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h4><span class=" fa-github"></span> <%= raw t 'moreabout.opensource.title' %></h4>
            <%= raw t 'moreabout.opensource.content' %>
          </div>
          <div class="span4">
            <h4><span class="fa-rss"></span> <%= raw t 'moreabout.rssfeed.title' %> </h4>
            <%= raw t 'moreabout.rssfeed.content' %>
          </div>
          <div class="span4">
            <h4><span class="fa-beer"></span> <%= raw t 'moreabout.free.title' %></h4>
            <%= raw t 'moreabout.free.content' %>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h4><span class="fa-thumbs-o-up"></span> <%= raw t 'moreabout.foryou.title' %></h4>
            <%= raw t 'moreabout.foryou.content' %>
          </div>
          <div class="span4">
            <h4><span class="fa-tint"></span> <%= raw t 'moreabout.semantic.title' %></h4>
            <%= raw t 'moreabout.semantic.content' %>
          </div>
          <div class="span4">
            <h4><span class="fa-search-plus"></span> <%= raw t 'moreabout.veilleurs.title' %></h4>
            <%= raw t 'moreabout.veilleurs.content' %>
          </div>
        </div>
      </section>
      <section id="who" class="clearfix">
        <div class="row">
          <div class="span4"></div>
          <div class="span4">
            <h4><span class="fa-user"></span> <%= raw t 'moreabout.whosunder.title' %></h4>
          </div>
          <div class="span4"></div>
        </div>
      </section>
    <section id="who" class="clearfix">
      <div class="row">
        <div class="span4 dino-logo">
          <img src="/assets/dino-contacts.png" alt="dino-logo">
        </div>
        <div class="span8">
          <%= raw t 'moreabout.whosunder.content' %><br/>
          <iframe width="620" height="349" src="http://www.youtube.com/embed/yFkCumtCEeg" allowfullscreen></iframe>
        </div>
          <div class="span1"></div>
      </div>
    </section>
   </div>

