<div class="search clear-top">


  <%= render "home/search_dino" %>

  <div class="row" style="margin-top:66px; height:546px">
    <div class="span1"></div>
    <iframe class="flex-video widescreen container well well-small span10" src="//player.vimeo.com/video/74277156" allowfullscreen></iframe>
    <div class="span1"></div>
  </div>

</div>


</div>
</div>


<div class="splash splash-off">
  <div class="container">
    <div class="text-center more-infos"><h1><a href="#moreAbout" id="moreAbout"><%= raw t 'moreabout.title' %></a></h1></div>

    <div class="infos infos-off">
      <section id="why" class="clearfix">
        <div class="row">
          <div class="span4">
            <h4><i class="icon-envelope"></i><%= raw t 'moreabout.getintouch.title' %></h4>
            <%= raw t 'moreabout.getintouch.content' %>
          </div>
          <div class="span4">
            <h4><i class="icon-twitter"></i><%= raw t 'moreabout.twitter.title' %></h4>
            <%= raw t 'moreabout.twitter.content' %>
          </div>
          <div class="span4">
            <h4><i class="icon-fullscreen"></i><%= raw t 'moreabout.scalable.title' %></h4>
            <%= raw t 'moreabout.scalable.content' %>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h4><i class=" icon-github"></i><%= raw t 'moreabout.opensource.title' %></h4>
            <%= raw t 'moreabout.opensource.content' %>
          </div>
          <div class="span4">
            <h4><i class="icon-rss"></i><%= raw t 'moreabout.rssfeed.title' %> </h4>
            <%= raw t 'moreabout.rssfeed.content' %>
          </div>
          <div class="span4">
            <h4><i class="icon-beer"></i><%= raw t 'moreabout.free.title' %></h4>
            <%= raw t 'moreabout.free.content' %>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h4><i class="icon-thumbs-up-alt"></i><%= raw t 'moreabout.foryou.title' %></h4>
            <%= raw t 'moreabout.foryou.content' %>
          </div>
          <div class="span4">
            <h4><i class="icon-tint"></i><%= raw t 'moreabout.semantic.title' %></h4>
            <%= raw t 'moreabout.semantic.content' %>
          </div>
          <div class="span4">
            <h4><i class="icon-zoom-in"></i><%= raw t 'moreabout.veilleurs.title' %></h4>
            <%= raw t 'moreabout.veilleurs.content' %>
          </div>
        </div>
      </section>
    <section id="who" class="clearfix">
      <div class="row">
        <div class="span3"></div>
        <div class="span6">
          <h4><i class="icon-user"></i><%= raw t 'moreabout.whosunder.title' %></h4>
          <%= raw t 'moreabout.whosunder.content' %>
          <iframe width="560" height="315" src="http://www.youtube.com/embed/yFkCumtCEeg" allowfullscreen></iframe>
        </div>
          <div class="span3"></div>
      </div>
    </section>
   </div>