
<div id="signUpModal" class="modal hide fade" data-keyboard="false" data-backdrop="static">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%= t("menu.signInWith") %> twitter</h3>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <%= f.email_field :email %>
      <%= f.control_group :join_mailing_list do %>
        <%= f.check_box :join_mailing_list, label: t('activerecord.attributes.user.join_mailing_list') %>
      <% end %>


      <div><%= f.label "#{t("menu.twitterAccount")}: " %>
          <b><%= session["devise.twitter_data"]["info"].nickname.to_s %></b>
      </div>
            </div>


      <div class="modal-footer">
        <%= link_to  t("close"), root_path, :class=>"btn"%>
        <%= f.submit raw(t("menu.signUp")),:class => "btn btn-success" %>
      </div>
<% end %>

</div>

<script>
    $('#signUpModal').modal('toggle')
    $('#signUpModal').modal({
        backdrop: 'static',
        keyboard: false
    })
</script>
<style type="text/css">
    #signUpModal form {
        margin: 0px;
        padding: 0px;
    }

    .modal-body{
        margin-left:10px;
    }
</style>