<h1>Listing sources</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= @result%>
<% @sources.each do |source| %>
  <tr>
    <td>
      <div class="btn-group">
        <%= link_to "source", rssfeed_index_path(:new => {:type => "http://purl.org/rss/1.0/source", :value => source}), :class => "btn btn-primary"%>
        <%= link_to source, rssfeed_index_path(:new => {:type => "http://purl.org/rss/1.0/source", :value => source}), :class => "btn btn-primary" %>
      </div>
    </td>
    <td>
      (<i class="number_items_wait icon-refresh" sourceId="<%=source%>" ></i><span class='number_items_container' sourceId="<%=source%>"></span> éléments)

    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path %>

