


<ul class="nav nav-list bs-docs-sidenav" style="max-width: 180px">
  <% @searches.each do |curSearch| %>

          <% descriptionSearchBox  = render "searches/reminder_panel", :localSearch => curSearch %>

          <li
            id="<%="searchBox#{curSearch.id}"%>"
            data-id="<%="searchBox#{curSearch.id}"%>"
            class="searchItem <%= "active" if (curSearch.id == @search.id)%>"
            rel="popoverx"
            data-content="<%= descriptionSearchBox.gsub('\"','\'') %>"
          >

          <%= link_to curSearch do %>
            <%= curSearch.getName(t("leftMenu.search"))[0,18]%>
            <span class=" icon-chevron-right pull-right searchmoreButton"/></span>
          <%end%>
    </li>
  <%end%>
</ul>

<script type="text/javascript">
    $(function() {
        $('[rel="popoverx"]').popoverx({
            fire_on : 'hover',
            hover_delay_close : 2000,
            onHidden :
                    function() {
                        saveFormToHtml(this);
                    }
        });
    })
</script>
<div id="transparentDiv" class="span1"></div>
