


<ul class="nav nav-list bs-docs-sidenav" style="max-width: 180px">
  <% @searches.each do |curSearch| %>
      <% curSearch.name ||= "Recherche #{curSearch.id}"%>

      <% #if curSearch.id == @search.id
      %>

          <%
             descriptionSearchBox  = render partial: "items/reminder_panel", object: curSearch, as: 'search'
             #if params[:id] != Rails.application.config.defaultRequestId.to_s
                       %>

          <li

          id="<%="searchBox#{curSearch.id}"%>"
          data-id="<%="searchBox#{curSearch.id}"%>"
          class="searchItem <%= "active" if (curSearch.id == @search.id)%>"
          rel="popoverx"
          data-content="<%= descriptionSearchBox.gsub('\"','\'') %>"
          >


          <!--
          data-original-title="<%= %>"
          <i class="icon-trash" onclick="alert(\"tt\")"></i>-->
          <!--<span class="section">-->
            <%= link_to curSearch do %>
              <%= curSearch.name[0,20]%>
              <span class=" icon-chevron-right pull-right searchmoreButton"/>
            <%end%>
          </span>
    </li>
  <%end%>
</ul>

<script type="text/javascript">
    $(function() {
        $('[rel="popoverx"]').popoverx({
            fire_on : 'hover',
            hover_delay_close : 1000,
            onHidden :
                    function() {
                        saveFormToHtml(this);
                    }
        });
    })
</script>
<div id="transparentDiv" class="span1"></div>
