<%= form_for "formModal", :url => url_for( :controller =>'searches', :action => 'index'), method: :POST, html: { id: "formModal"} do |f| %>
    <% if localSearch.id != Rails.application.config.defaultRequestId.to_s
            editButton = "<input name='searchName' class='editNameInputFrom input-small' type='text' value='#{localSearch.getName(t("leftMenu.search"))}' onkeypress='console.log(this.value);$(this).attr('value',this.value)'/><span class='icon-pencil pointerMouse' onclick=\"$($(this).parent()).children('.editNameInputFrom').focus();showUpdate();\"/>"
            descriptionSearchBoxTitle = "#{editButton}      #{link_to '', localSearch, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icon-trash pull-right"}"
       else
         descriptionSearchBoxTitle = localSearch.getName(t("leftMenu.search"))
       end
    %>

<h3 class="popover-title"><%= raw descriptionSearchBoxTitle%></h3>
    <div id="movedData"></div>
    <div id="popover-<%= localSearch.id%>">
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                <div class="row-fluid">
                    <h3><span class="numberFiltering smallNumberFiltering">1</span> <%= raw t 'newmodal.breadcrumb.sources' %></h3>
                </div>
                <div class="row-fluid">
                  <div id="wellSources" class="well summary span12">
                    <% localSearch.sources.each do |source| %>
                      <%= raw source.getButton %>
                    <%end%>
                  </div>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                <div class="row-fluid">
                    <h3><span class="numberFiltering smallNumberFiltering">2</span> <%= raw t 'newmodal.breadcrumb.filtering' %></h3>
                </div>
                <div class="row-fluid">
                    <p><b id="titleAnd"><%= raw t 'newmodal.filtering.buttonMusthave' %></b></p>
                </div>
                <div class="row-fluid">
                    <div id="summaryAnd" class="well summary span12 well-success" ondrop="drop(event)" ondragover="allowDrop(event)">
                      <% localSearch.getAndFilters.each do |filter| %>
                          <%= raw filter.getButton%>
                      <%end%>
                    </div>
                </div>
                <div class="row-fluid">
                    <p><b id="titleOr"><%= raw t 'newmodal.filtering.buttonOption' %></b></p>
                </div>
                <div class="row-fluid">
                    <div id="summaryOr" class="well summary span12 well-info" ondrop="drop(event)" ondragover="allowDrop(event)">
                      <% localSearch.getOrFilters.each do |filter| %>
                        <%= raw filter.getButton%>
                      <%end%>
                    </div>
                </div>
                <div class="row-fluid">
                    <p><b id="titleWithout"><%= raw t 'newmodal.filtering.buttonBan' %></b></p>
                </div>
                <div class="row-fluid">
                    <div id="summaryWithout" class="well summary span12 well-danger" ondrop="drop(event)" ondragover="allowDrop(event)">
                      <% localSearch.getWithoutFilters.each do |filter| %>
                          <%= raw filter.getButton%>
                      <%end%>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row-fluid bottomDiv">
              <div class="span5">
                    <button style="height:50px" id="updateSearch" class="btn btn-success updater span12" type="submit" onclick="movingData('<%=localSearch.id%>')">
                      <%= raw t 'items.reminder.update' %>
                    </button>
              </div>
              <div class="span2">
                <%= link_to(params.merge(:format => :rss),:title=>"mon flux RSS") do%>
                  <button style="height:50px" class="btn btn-warning span12">
                    <i class="icon-rss"></i>
                  </button>
                <%end%>

              </div>
              <div class="span5">
                    <button style="height:50px" class="btn btn-info span12" type="submit" onclick="
                    movingData('<%=localSearch.id%>');
                    $('#formModal').attr('action','/searches/<%=localSearch.id%>/edit');
                    $('#formModal').attr('method','GET');
                    ">
                        <%= raw t 'items.reminder.change' %>
                    </button>


        </div>
    </div>
<% end %>
