<h1><%= t("menu.yourSearches")%></h1>

<table class="table table-hover  table-bordered">
  <thead>
  <tr>
    <th><%= t("menu.name")%></th>
    <th><%= t("menu.sources")%></th>
    <th><%= t("menu.filters")%></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @searches.each do |search| %>
  <tr>
    <td>
      <%= search.getName(t("leftMenu.search"))%>
    </td>
    <td>
      <% search.sources.each do |source| %>
          <%= raw source.getButton %>
      <%end%>
    </td>
    <td>
      <% search.filters.each do |filter| %>
        <%= raw filter.getButton %>
      <%end%>
    </td>
    <td class="btn-toolbar">
      <div class="btn-group">
      <%= link_to t('show'), search, :class => "btn btn-info btn-mini" %>
    <%= link_to t('edit'), edit_search_path(search), :class => "btn btn-warning btn-mini" %>
    <%= link_to t('delete'), search, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %></td>
    </div>
  </tr>
<% end %>
  </tbody>
</table>

<br />
<div class="span12">
  <%= will_paginate @page_results, renderer: BootstrapPagination::Rails, class: "pagination pagination-centered" %>
</div>

<div class="span12">
<%= link_to new_search_path do %>
    <button type="button" class="btn btn-success">
      <h2><%= raw t 'search.gobutton' %></h2>
</button>
<%end%>
</div>