<p id="notice"><%= notice %></p>

<p>
  <b>Sources:</b>
  <%= @search.sources %>
</p>

<p>
  <b>Filters:</b>
  <%= @search.filters %>
</p>

<p>
  <b>User:</b>
  <%= @search.user %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
