<% id=0; @items.each do |item| %>
    <%
       similarityColor = case item.similarity
                           when 0 then ""
                           when 1 then "lowSimilarity"
                           when 2 then "mediumSimilarity"
                           else "highSimilarity"
                         end
       if id%2 == 1
         cl = "pull-right clear-right"
       else
         cl = "pull-left clear-left"
       end
    %>
    <div class="well item-bloc <%=cl%> span6 <%= similarityColor%>" data-local-uri="<%= item_path(:id => item.uri) %>">
      <div class="item_container"></div>
      <div class="item_wait">
        <a href="<%= item_path(:id => item.uri)%>"><i class=" icon-refresh hidden"></i></a>
        <a href="<%= item.uri%>"><b><u><%= item.title%></u></b></a>
        <div class="news-content"></div>
      </div>
    </div>

<% id+=1; end %>