<button class="btn btn-share hidden" data-toggle="collapse" data-parent="#accordion-<%= @item.getUriHash%>" href="#collapse-<%= @item.getUriHash%>">
  <i class="icon icon-tag"></i>
</button>

<% if !user_signed_in? %>
    <button
    id="tagsBTN"
    class="disabled btn btn-share btn-addTag tagsBTN"
    type="button"
    data-toggle="popover"
    data-placement="bottom"
    data-original-title="<%= t("source.rss.button.ownsource")%>"
    >
      <i class="icon icon-tag"/>
    </button>

    <button
        id="favBTN"
        class="disabled btn btnFavorite btn-share favBTN"
        type="button"
        data-toggle="popover"
        data-placement="bottom"
        data-original-title="<%= t("source.rss.button.ownsource")%>"
    >
      <i class="icon icon-star-empty"></i>
    </button>
    <script>
  $(function () {
      $('.tagsBTN').popover({trigger: "hover"});
      $('.favBTN').popover({trigger: "hover"});

  });
</script>

<%else%>
  <span class="btn-share input-append addtag" style="display: none;">
      <input class="input-small tag" type="text" placeholder="<%= t('items.newtag')%>"/>
      <button class="btn btn-success" onclick='doAddItemTag("<%= @item.uri%>",$(this).parent())'>
        <%= raw t 'newmodal.sources.add' %>
      </button>
      <button class="btn btn-danger" onclick="addItemTag($(this).parent().parent())">X</button>
  </span>

    <button class="btn btn-share btn-addTag" onclick="addItemTag($(this).parent())">
      <i class="icon icon-tag"/>
    </button>
    <% if (@item.favorite) %>
      <button class="btn btnFavorite btn-share btnFavorite-on" onclick='addFavorite("<%= @item.uri%>",this)'>
        <i class="icon icon-star"></i>
      </button>
    <%else%>
      <button class="btn btnFavorite btn-share <%= (@item.favorite) ? "btn-success" : ""%>" onclick='addFavorite("<%= @item.uri%>",this)'>
        <i class="icon icon-star" ></i>
      </button>
    <%end%>
<%end%>
<!--<button class="btn btn-share" onclick='checkOpacity(this)'>
  <i class="icon icon-check"></i>
</button>-->
<a class="shareLink btn-share" title="<%= t('items.social.shareOn')%> facebook" href="https://www.facebook.com/sharer.php?u=<%= @item.uri %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
  <img class="littleCircleImage"src="/assets/foregroundFB.png" height=30 width=30/>
</a>
<a class="shareLink btn-share" title="<%= t('items.social.shareOn')%> Google+" href="https://plus.google.com/share?url=<%= @item.uri %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
  <img class="littleCircleImage"src="/assets/foregroundGoogle.png" alt="Share on Google+" height=30 width=30/>
</a>
<a class="shareLink btn-share" title="<%= t('items.social.shareOn')%> twitter" href="https://twitter.com/share?url=<%= @item.uri %>&via=readornet&text=<%= @item.props["http://purl.org/rss/1.0/title"][0]%>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
  <img class="littleCircleImage" src="/assets/foregroundTwitter.png" height=30 width=30>
</a>
<a class="shareLink btn-share" title="<%= t('items.social.shareOn')%> diigo" target="_blank" href="http://www.diigo.com/post?url=<%= @item.uri %>&title=<%= @item.props["http://purl.org/rss/1.0/title"][0]%>">
	<img style="border:none" src="http://www.diigo.com/images/diigo-icon/32.png" alt="Add to Diigo" height=30 width=30/>
</a>