<%= render 'home/search_tool'%>
<%= render 'reminder_panel'%>

<div class="hidden">
    <%= @search.to_json %>
    <%= @search.sources.to_json %>
    <%= @search.filters.to_json %>
    <hr/>

    <%= raw h(@sparqlRequest).gsub(/\n/, '<br/>') %>
    <hr/>
</div>

<%= javascript_tag do %>
    $("#load-more2").bind("ajax:complete", function(et, e){
    $("#load-more2").html(e.responseText); // insert content
        event.preventDefault(); // Prevent link from following its href
    });
<% end %>

<div id="modalDeleteTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= raw t 'items.modal.title' %></h3>
  </div>
  <div class="modal-body deleteTag">
  	<div class="row-fluid">
	    <div class="span12">
	    	<%= raw t 'items.modal.content' %>
	    </div>
    </div>
  </div>
  <div class="modal-footer">
  	<button class="btn btn-success"><%= raw t 'items.modal.delete' %></button>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= raw t 'items.modal.cancel' %></button>
  </div>
</div>

<!-- rss feed and format page selection-->
<div class="row-fluid">
	<div class="btn-group pull-right">
		<button id="btnCard" class="btn" onclick="changeItemFormat('card');">
			<i class="icon icon-th-large"></i>
		</button>
		<button id="btnList" class="btn active" onclick="changeItemFormat('list');">
			<i class="icon icon-th-list"></i>
		</button>
	</div>
	<div id="titlePopover" hidden><%= raw t 'items.popover.smalltitle' %></div>
	<%= link_to(params.merge(:format => :rss)) do%>
		<button id="buttonRss" class="btn btn-warning pull-right"><i class="icon-rss"></i></button>
	<%end%>
	<span class="numberItem pull-right"><%= @itemsNumber %> items</span>
</div>

<hr>

<!-- items printing-->
<div class="items-box">
    <div class="row-fluid">
        <% id=0; @items.each do |item| %>
          <%
          similarityColor = case item.similarity
            when 0 then ""
            when 1 then "lowSimilarity"
            when 2 then "mediumSimilarity"
            else "highSimilarity"
          end
          %>
        <div class="well item-bloc <%= similarityColor%>">
            <div class="item_container" sourceid="<%= id %>"></div>
            <div class="item_wait" sourceid="<%= id%>">
                <a href="<%= item.localURI%>"><i class=" icon-refresh"></i></a>
                <a href="<%= item.uri%>"><%= item.title%></a>

            </div>
        </div>

        <% id+=1; end %>
    </div>
    <div class="span12">
        <%= will_paginate @page_results %>
    </div>
</div>
