<h1>Service de configuration de flux RSS</h1>


<%= javascript_tag do %>
  query = '<%= j items_path(:old => @filters) %>';
<% end %>

<% if @filters.length > 0 %>
  <h3>Votre filtre actuel:</h3>
  <% @filters.each do |filter| %>
    <div class="btn-group">
      <%= raw getButtonForFilter(filter)%>
      <%=link_to "x", items_path(:old => removeFilterFromList(@filters, filter)), :class => "btn btn-danger"%>
    </div>
  <% end %>
<br/></br/>
<% end %>

(<a href= "<%=@uriForItemsNumber%>"><i class=" icon-refresh" id="number_items_wait"></i></a><span id='number_items_container'></span> éléments)




<%= javascript_tag do %>
  $("#load-more2").bind("ajax:complete", function(et, e){
   $("#load-more2").html(e.responseText); // insert content
    event.preventDefault(); // Prevent link from following its href
  });
<% end %>


<p><%= link_to "Recupérer le flux RSS", params.merge(:format => :rss), :class => "feed_link" %></p>



<% id=0; @items.each do |item| %>
  <div class="well">
      <div class="item_container" sourceid="<%= id %>"></div>
      <div class="item_wait" sourceid="<%= id%>">
          <a href="<%= item.localURI%>"><i class=" icon-refresh"></i></a>
          <a href="<%= item.uri%>"><%= item.title%></a>
          
      </div>
  </div>
  
<% id+=1; end %>

<%= will_paginate @page_results %>