<%= render 'home/search'%>

<%= javascript_tag do %>
query = '<%= j items_path(:old => @filters) %>';
<% end %>

<!--
<% if @filters.length > 0 %>
<h3>Votre filtre actuel:</h3>
<% @filters.each do |filter| %>
<div class="btn-group">
<%= raw getButtonForFilter(filter)%>
<%=link_to "x", items_path(:old => removeFilterFromList(@filters, filter)), :class => "btn btn-danger"%>
</div>
<% end %>
<br/></br/>
<% end %>-->

<%= javascript_tag do %>
$("#load-more2").bind("ajax:complete", function(et, e){
$("#load-more2").html(e.responseText); // insert content
event.preventDefault(); // Prevent link from following its href
});
<% end %>

<%= link_to(params.merge(:format => :rss)) do%>
<span id="rss-button" class="btn btn-warning btn-large btn-primary goButton"><i class="icon-rss"></i></span>
<%end%>
<div class="row-fluid">
	<div class="btn-group pull-right">
		<button id="btnList" class="btn active" onclick="changeItemFormat('list');">
			<i class="icon icon-th-list"></i>
		</button>
		<button id="btnCard" class="btn" onclick="changeItemFormat('card');">
			<i class="icon icon-th-large"></i>
		</button>
		<div id="titlePopover" hidden><%= raw t 'items.popover.smalltitle' %></div>
	</div>
</div>

<hr>

<%= render "reminder_panel"%>

<div class="row-fluid">
	<% id=0; @items.each do |item| %>
	<div class="well item-bloc">
		<div class="item_container" sourceid="<%= id %>"></div>
		<div class="item_wait" sourceid="<%= id%>">
			<a href="<%= item.localURI%>"><i class=" icon-refresh"></i></a>
			<a href="<%= item.uri%>"><%= item.title%></a>

		</div>
	</div>

	<% id+=1; end %>
</div>
<div class="span12">
	<%= will_paginate @page_results %>
</div>
