
<div class="row-fluid">

  <!-- left menu-->
  <div class="span2" >
    <%= render "searches/left_menu", :searches => @searches %>
  </div>

  <!--center content-->
  <div class="span10">


    <!-- print the dino if no results-->
    <%if @itemsNumber == 0%>
      <div class="row-fluid">
        <%= render "home/search_dino", :page=>"search" %>
      </div>
    <%end%>

    <!-- debug tools -->
    <div class="hidden">
      <div id="searchTrace"><%= @search.to_json %></div>
      <div id="initialMINDate"><%= @minDate %></div>
      <div id="initialMAXDate"><%= @maxDate %></div>
      <div id="searchTraceSources"><%= @search.sources.to_json %></div>
      <div id="searchTraceFilters"><%= @search.filters.to_json %></div>
      <hr/>

      <div id="sparqlRequest"><%= raw h(@sparqlRequest).gsub(/\n/, '<br/>') %></div>
      <hr/>
    </div>


    <!-- trash! <% javascript_tag do %>
      $("#load-more2").bind("ajax:complete", function(et, e){
      $("#load-more2").html(e.responseText); // insert content
        event.preventDefault(); // Prevent link from following its href
      });
    <% end %>-->


    <!-- items printing zone-->
    <div class="row-fluid">

      <div id="cloudZone" style="height:150px">
        <div class="background-dino"></div>
      </div>

      <div class="row-fluid" style="margin-bottom:10px">
          <div class="span10" id="slider" style="padding-top:0px"></div>



          <div class="span2 btn-group">

            <a href="<%= url_for(params.merge(:format => :rss))%>" id="buttonRss" class="btn-format btn btn-warning"><i class="fa-rss"></i></a>
            <a title="<%= t('items.layout.time')%>" id="btnFormatTime" class="btn-format btn <%= 'active' if @layout == 'time'%>" href="<%= url_for( :layout => 'time', :search => @search )%>"><i class="icon icon-calendar"></i></a>
            <a title="<%= t('items.layout.grid')%>"     id="btnFormatCard" class="btn-format btn <%= 'active' if @layout == 'card'%>" href="<%= url_for( :layout => 'card', :search => @search )%>"><i class="icon icon-th-large"></i></a>
            <a title="<%= t('items.layout.list')%>"id="btnFormatList" class="btn-format btn <%= 'active' if @layout == 'list'%>" href="<%= url_for( :layout => 'list', :search => @search )%>"><i class="icon icon-th-list" ></i></a>
          </div>
      </div>

      <!-- new news button-->
      <div class="newNewsLinkBox" style="display: none;">
        <% lastDate = @items[0].date if @items.size > 0 else 0  %>
          <%= link_to (items_path(:search => @search.id, :minDate => lastDate, :per_page => "100", :load_on_top => true, :layout => @layout)), :remote => true ,:class=>"span12 well btn-success btn newNewsLink" do%>
            <span class="numberOfNewNews">0</span> <%= t('items.newResults')%>
          <%end%>
      </div>

      <div id="masonry-container" class="transitions-enabled  infinite-scroll items-box items-list has-gutters masonry-clearfix">
        <% if @layout == "time"%>
          <div class="timeline-container">
            <div class="timeline">
            </div>
          </div>
        <%end%>

        <%= render :partial => "items", :items => @items %>
      </div>
      <nav id="page-nav">
        <%if @items.next_page != nil%>
          <a href="<%= items_path(:search => @search.id, :layout => @layout)%>&page=<%=@items.next_page%>" class="btn load-more-items">
            Load More ITEMS
          </a>
        <%end%>
      </nav>
    </div>
  </div>
</div>






<!-- modals -->
<% if user_signed_in?%>
    <div id="modalDeleteTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modaleDeleteLabel"><%= raw t 'items.modal.delete.title' %></h3>
      </div>
      <div class="modal-body deleteTag">
        <div class="row-fluid">
          <div class="span12">
            <%= raw t 'items.modal.delete.content' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modalDeleteTagButton" onClick="doDeleteTag($(this))" class="btn btn-success"><%= raw t 'items.modal.delete.delete' %></button>
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= raw t 'items.modal.delete.cancel' %></button>
      </div>
    </div>
<%else%>
    <div id="modalDeleteTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modaleDeleteLabel"><%= raw t 'items.modal.delete.title' %></h3>
      </div>
      <div class="modal-body deleteTag">
        <div class="row-fluid">
          <div class="span12">
            <%= raw t 'devise.failure.unauthenticated' %>
          </div>
        </div>
      </div>
    </div>
<%end%>

<div id="modalEditTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modaleEditLabel"><%= raw t 'items.modal.edit.title' %></h3>
  </div>
  <div class="modal-body deleteTag">
    <div class="row-fluid">
      <div class="span12">
        <%= raw t 'items.modal.edit.content' %>
        <input id="inputEditTag" name="tagName" type="text" placeholder="">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"><%= raw t 'items.modal.edit.update' %></button>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= raw t 'items.modal.edit.cancel' %></button>
  </div>
</div>