<%= elementId = 0 %>

    <% if @item["http://purl.org/rss/1.0/image"] != nil
        image=@item["http://purl.org/rss/1.0/image"].html_safe  end %>
    <% if image != nil %>
        <div class="span3">
            <% if image.end_with?("flv") || image.end_with?("mp4") %>
<div id="<%=image%>">Loading the player...</div>
<script type="text/javascript">
jwplayer("<%=image%>").setup({
file: "<%=image%>",
width: "100%"
});
</script>
            <%else%>
            
            
                <img src="<%= image%>" class="img-polaroid">
            <%end%>
            
        </div>
        <div class="span9">
    <%else%>
        <div class="span12">
    <%end%>
        <a href= "%= element[0] %>">
            <%= @item["http://purl.org/rss/1.0/title"]%>
        </a>
        <%= @item["http://purl.org/rss/1.0/pubDate"]%>
        <div class="btn-toolbar">
        <% @item.each do |item|%>
            <div class="btn-group">
                <%= raw getButtonForElement(item) %>
            </div>
        <%end%>
        </div>
        
        <%= @item["http://purl.org/rss/1.0/description"].html_safe %>
    </div>
</div>
        
        
<div class="accordion" id="accordion<%= elementId %>" style="margin-bottom: 0px;">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle btn btn-mini" data-toggle="collapse" data-parent="#accordion<%= elementId%>" href="#collapse<%= elementId%>">
            Voir les annotations
            </a>
        </div>
        <div id="collapse<%= elementId%>" class="accordion-body collapse">
            <div class="accordion-inner" style="padding: 0px;">
                <table class="table table-striped"><!--BORDER="1" style="border: 1px black; border-spacing: 0px;"-->
                
                
                </table>
            </div>
        </div>
    </div>
</div>