<%
   if @item.props["http://purl.org/rss/1.0/image"] != nil
     image=@item.props["http://purl.org/rss/1.0/image"][:value][0].html_safe
   end
%>

<div class="row-fluid">
	<div class="span12">
		<% if image != nil  %>
			<% if image.end_with?("flv") || image.end_with?("mp4") %>
	            <div id="<%= image%>">
	                Loading the player...
	            </div>
	            <script type="text/javascript">
	                jwplayer("<%= image%>").setup({file: "<%= image%>",	width: "100%"});
	            </script>
			<%else%>
			    <img src="<%= image%>" class="img-polaroid span3 pull-left img-marged">
			<%end%>
		<%end%>
		<div class="row-fluid">
          <% if @item.uri.starts_with?('https://twitter.com') || @item.uri.starts_with?('http://twitter.com')  %>
            <blockquote class="twitter-tweet" data-conversation="none" lang="<%= I18n.locale %>" data-theme="Goth">
              <p><%= @item.props["http://purl.org/rss/1.0/description"][:value][0]%></p>
              &mdash; <%= @item.props["http://zone-project.org/model/plugins/twitter#author"][:value][0] %>
              <a href="<%= @item.uri%>">
                <%=
                    begin
                      date = DateTime.parse(@item.props["http://purl.org/rss/1.0/pubDate"][:value][0])
                      date.strftime(t("items.dateFormat"))

                    rescue
                    end
                %>
              </a>
            </blockquote>
              <% if params[:layout] != "list" %>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              <%end%>
          <%else%>

			<!--header news part -->
            <img src="<%= @item.getTypePicture%>" class="littleCircleImage" width=30 height=30>
            <a class="titleItem" target="_blank" href= "<%= @item.uri %>">

              <% if @item.uri.starts_with?('https://twitter.com') || @item.uri.starts_with?('http://twitter.com')  %>
                <u><b><i> Via <%= @item.props["http://zone-project.org/model/plugins/twitter#author"][:value][0] %></i></b></u>
              <% else %>
                <b><u><%= @item.props["http://purl.org/rss/1.0/title"][:value][0]%></u> </b>
              <%end%>

            </a>

            <i class="date-in-news">
              <%=
                begin
                  date = DateTime.parse(@item.props["http://purl.org/rss/1.0/pubDate"][:value][0])
                  date.strftime(t("items.dateFormat"))

                rescue
                end
              %>
            </i>


            <!--content news part -->
            <div class="contentArticle">
				<%= if @item.props["http://purl.org/rss/1.0/description"] != nil
        			@item.props["http://purl.org/rss/1.0/description"][:value][0].html_safe
        		end %>
			</div>

          <%end%>
			<div class="btn-toolbar tags-toolbar">
              <% if @item.getLang() != nil%>
                <div class="btn-group btn-group-label btn-wrap">
                    <img src="/assets/langs/<%= @item.getLang()%>.png" alt="<%= @item.getLang()%>">
                </div>
              <%end%>
              <%@item.filters.each do |filter|%>
                <%= raw filter.getButtonInNews %>
              <%end%>


			</div>

          <!--footer news part with share buttons -->
			<div class="pull-right row-list">
                <%= render 'show_tool_bar', :item => @item %>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "tags_managment" %>