<div class="row-fluid">

	<% if @item.props["http://purl.org/rss/1.0/image"] != nil
    image=@item.props["http://purl.org/rss/1.0/image"][0].html_safe
  end
%>

	<% if image != nil  %>
	<div class="span3">
		<% if image.end_with?("flv") || image.end_with?("mp4") %>
		<div id="<%= image%>">
			Loading the player...
		</div>
		<script type="text/javascript">
jwplayer("<%= image%>
			").setup({
			file: "
<%= image%>
	",
	width: "100%"
	});
		</script>
		<%else%>
		<img src="<%= image%>" class="img-polaroid span12">
		<%end%>
	</div>
	
	<div class="span9">
		<%else%>
			<%end%>
			<div class="row-fluid">
			<% if @item.uri.starts_with?('http://twitter.com')
          thumb="assets/twitter.png"
        else
          thumb="assets/foregroundRSS.png"
        end
%>
			<img src="<%= thumb%>" class="littleCircleImage" width=30 height=30>
			<a class="titleItem" target="_blank" href= "<%= @item.uri %>"><b><u><%= @item.props["http://purl.org/rss/1.0/title"][0]%></u> </b> </a> 
			<button class="btn row-favorite" data-toggle="collapse" data-parent="#accordion-<%= @uriHash%>" href="#collapse-<%= @uriHash%>"><i class="icon icon-tag"></i></button>
			<button class="btn btnFavorite row-favorite" disabled><i class="icon icon-heart"></i></button>
			<button class="btn btnMarkasRead row-favorite" disabled><i class="icon icon-check"></i></button>
			
			<span class="separationLine row-favorite" ></span>
			<img src="assets/foregroundFBGray.png" class="littleCircleImage row-favorite" width=30 height=30>
			<img src="assets/foregroundTwitterGray.png" class="littleCircleImage row-favorite" width=30 height=30>
			<img src="assets/foregroundGoogleGray.png" class="littleCircleImage row-favorite" width=30 height=30>
			<br>
			
			<i>
			<%= begin
				date = DateTime.parse(@item.props["http://purl.org/rss/1.0/pubDate"][0])
date.strftime('Le %d/%m/%Y à %H:%M')
          
        rescue
        end %></i>
        </div>
        <div class="row-fluid">
		
		<div class="contentArticle">
			<%= if @item.props["http://purl.org/rss/1.0/description"] != nil
    			@item.props["http://purl.org/rss/1.0/description"][0].html_safe end %>
		</div>
		<div class="row-fluid">
			<span class="showTag pointerMouse"><i><b>+ Tags</b></i></span>
			<span class="hideTag pointerMouse"><i><b>- Tags</b></i></span>
		</div>
		<div class="btn-toolbar">
			
			<% htmlval =""
			@item.props.each do |item|
			item[1].each do |value|

			filter = Filter.new(:prop => item[0], :value => value)
			if filter.prop.starts_with? ZoneOntology::PLUGIN_EXTRACT_ARTICLES_CONTENT_RES
				htmlval= filter.value
			end
			linkval = getButtonForFilter(filter)
			if !linkval then
			next
			end
			%>
			<div class="btn-group btn-group-label">
				<%= linkval  %>
			</div>
			<%end  end
			%>
		</div>
		<div class="pull-right">
			<button class="btn row-list" data-toggle="collapse" data-parent="#accordion-<%= @uriHash%>" href="#collapse-<%= @uriHash%>"><i class="icon icon-tag"></i></button>
			<button class="btn btnFavorite row-list" disabled><i class="icon icon-heart"></i></button>
			<button class="btn btnMarkasRead row-list" disabled><i class="icon icon-check"></i></button>

			<img src="assets/foregroundFBGray.png" class="littleCircleImage row-list" width=30 height=30>
			<img src="assets/foregroundTwitterGray.png" class="littleCircleImage row-list" width=30 height=30>
			<img src="assets/foregroundGoogleGray.png" class="littleCircleImage row-list" width=30 height=30>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="accordion" id="accordion-<%= @uriHash %>" style="margin-bottom: 0px;">
		<div class="accordion-group borderLess">
			<div id="collapse-<%= @uriHash%>" class="accordion-body collapse">
				<div class="accordion-inner" style="padding: 0px;">
					<table class="table table-striped">
						<!--BORDER="1" style="border: 1px black; border-spacing: 0px;"-->
						<% i=0; @item.props.each do |prop,values|
						values.each do |value|
						i=i+1
						%>
						<tr>
							<td><%= prop %></td>
							<td> <% if prop.starts_with? ZoneOntology::PLUGIN_EXTRACT_ARTICLES_CONTENT_RES %>
							<%= value %> <a href= "<%= @uri %>"> (...) </a> <% elsif (prop.starts_with? 'http://rdf.insee') || (prop.starts_with? 'http://www.dbpedia') %>
							<%= link_to value, "getOne?element="+value,:id => "elem"+i.to_s(), :remote => true %>
							<%= javascript_tag do %>
							$("#elem<%= i%>").bind("ajax:complete", function(et, e){
							$("#elem<%= i.to_s()%>").html(e.responseText); // insert content
							event.preventDefault(); // Prevent link from following its href
							});
							<%end%>
							<%elsif (value.starts_with? 'http://')%>
							<%= link_to value,value %>
							<%else%>
							<%= value %>
							<%end%> </td>
						</tr>
						<% end%>
						<%end%>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
