
<div class="row-fluid">

  <div class="span12">




    <%= javascript_tag do %>
        $("#load-more2").bind("ajax:complete", function(et, e){
        $("#load-more2").html(e.responseText); // insert content
        event.preventDefault(); // Prevent link from following its href
        });
    <% end %>

    <div class="row-fluid">
      <!-- items printing-->
      <div class="newNewsLinkBox" style="display: none;">
        <% lastDate = 0%>
        <% lastDate = @items[0].date if @items.size > 0  %>
        <%= link_to (items_path(:search => @search.id, :minDate => lastDate, :per_page => "100", :load_on_top => true)), :remote => true ,:class=>"span12 well btn-success btn newNewsLink" do%>
            <span class="numberOfNewNews">0</span> <%= t('items.newResults')%>
        <%end%>
      </div>

      <div  id="masonry-container" class="transitions-enabled  infinite-scroll items-box items-list has-gutters masonry-clearfix">
        <%= render :partial => "items", :items => @items %>
      </div>
      <nav class="" id="page-nav">
        <%= link_to 'Load More ITEMS', items_path(:page => @items.next_page, :search => @search.id), :class => 'btn load-more-items', :remote => true if @items.next_page != nil%>
        <% will_paginate @page_results, renderer: BootstrapPagination::Rails, class: "pagination pagination-centered"%>
      </nav>
    </div>
  </div>
</div>


<!-- modals -->
<% if user_signed_in?%>
    <div id="modalDeleteTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modaleDeleteLabel"><%= raw t 'items.modal.delete.title' %></h3>
      </div>
      <div class="modal-body deleteTag">
        <div class="row-fluid">
          <div class="span12">
            <%= raw t 'items.modal.delete.content' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modalDeleteTagButton" onClick="doDeleteTag($(this))" class="btn btn-success"><%= raw t 'items.modal.delete.delete' %></button>
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= raw t 'items.modal.delete.cancel' %></button>
      </div>
    </div>
<%else%>
    <div id="modalDeleteTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modaleDeleteLabel"><%= raw t 'items.modal.delete.title' %></h3>
      </div>
      <div class="modal-body deleteTag">
        <div class="row-fluid">
          <div class="span12">
            <%= raw t 'devise.failure.unauthenticated' %>
          </div>
        </div>
      </div>
    </div>
<%end%>

<div id="modalEditTag" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modaleEditLabel"><%= raw t 'items.modal.edit.title' %></h3>
  </div>
  <div class="modal-body deleteTag">
    <div class="row-fluid">
      <div class="span12">
        <%= raw t 'items.modal.edit.content' %>
        <input id="inputEditTag" name="tagName" type="text" placeholder="">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"><%= raw t 'items.modal.edit.update' %></button>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= raw t 'items.modal.edit.cancel' %></button>
  </div>
</div>